body {
  background-color: #f2f6f5;
}
h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
hr {
  border-color: grey;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
}
